{{> partials/header }}

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> {{pageTitle}}</h1>

        {{> partials/alertMessages}}

        <div class="card card-body">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name"
                        value="{{name}}" />
                </div>
                <div class="form-group">
                    <label for="money">Money</label>
                    <input type="text" id="money" name="money" class="form-control" placeholder="Enter your money"
                        value="{{money}}" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Create Password" value="{{password}}" />
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control"
                        placeholder="Confirm Password" value="{{password2}}" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Register
                </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/">Sign In</a></p>
        </div>
    </div>
</div>

{{> partials/footer}}